<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Header-icon -->
  <link rel="icon"  href="/imgs/nos-e-amarras.jpg">
  <!-- Link to CSS -->
  <link rel="stylesheet" href="/style.css" />
  <!-- Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <title>Nós e Amarras</title>
</head>

<body>
  <header class="header-search tiger">
    <h1 id="title-page">Nós e Amarras
      <img src="/imgs/nos-e-amarras.jpg" alt="" id="img-especiality">
    </h1>
    <label class="container-label">
      <input id="search-no" type="text" placeholder="Digite um Nó" />
      <i id="clean" class="bx bx-x icon-clean" onclick="iconClick()"></i>
    </label>
  </header>

  <main>
    <div id="container">
      <% group.forEach((no)=> { %>
        <% if (no.linkImage) { %>
        <div class="nada">
          <div class="image-no">
            <a href="/page/<%= no._id%>" class="td-link">
              <img src="<%= no.linkImage%>" alt="<%= no.name%>" />
            </a>
          </div>
          <div class="name-no">
            <a href="/page/<%= no._id%>">
              <h3>
                <%= no.name%>
              </h3>
            </a>
            <% if (no.type) { %>
              <h3 class="type">Tipo: <%= no.type%></h3>
            <% } %>
            <% if (no.nivel) { %>
              <h3 class="type secondtype">Nível: <%= no.nivel%></h3>
            <% } %>
          </div>
        </div>
        <% } %>
      <% }) %>
    </div>
  </main>
  <!-- <div class="copyright">
    <span>©2023 - Todos os Direitos Reservados</span>
    <span>Desenvolvido por <a href="https://everton-l-portifolio.onrender.com">EL Tutoriais</a></span>
  </div> -->
  <script src="/script.js"></script>
</body>

</html>